<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
                crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" />

        <script src="js/jquery-2.2.4.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="app.js"></script>
        <script src="mainController.js"></script>
        <script src="js/ngStorage.min.js"></script>
</head>
	
<body ng-app="moduleApp">
                <div ng-controller="mainController as vm">
                        <div class="container">
                                <div class="hed text-center col-sm-12">
                                <h2>Add user</h2>
                                <!-- add user only by admin -->
                                <button class="btn-primary" ng-click="vm.targetInputRow()">Add Student</button>
                                </div>
                                <div class="inputs-box col-sm-12" ng-form="myMainForm">
                                        <div class="forms-inputs row" ng-show="vm.showInputs">
                                                <div class="form-group col-sm-3">
                                                        <input type="text" ng-model="vm.data.firstname" class="form-control" id="firstname" placeholder="First Name" required >
                                                </div>
                                                <div class="form-group col-sm-3">
                                                        <input type="text" ng-model="vm.data.middlename" class="form-control" id="middlename" placeholder="Middle Name" required>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                                <input type="text" ng-model="vm.data.lastname" class="form-control" id="lastname" placeholder="Last Name" required>
                                                        </div>
                                                <div class="form-group col-sm-3">
                                                        <input type="text" ng-model="vm.data.streetaddress" class="form-control" id="streetaddress" placeholder="Street Address" required>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                        <input type="text" ng-model="vm.data.dateformat" class="form-control" id="dateformat" placeholder="date and time" disabled>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                        <input type="text" ng-model="vm.data.balance" class="form-control" id="balance" placeholder="balance" required>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                        <select id="edit" ng-model="vm.data.dreditcard"  required>
                                                                <option value="Visa" selected>Visa</option>
                                                                <option  value="Mastercard">Mastercard</option>
                                                        </select>     
                                                </div>
                                                <div class="form-group col-sm-3">
                                                        <button type="submit" class="btn btn-default submit-btn d-block" ng-hide="vm.submitBtn" ng-click="vm.submit(); vm.clearAll()" ng-disabled="myMainForm.$invalid">Submit</button>
                                                        <button type="submit" ng-show="vm.saveBtn" class="btn btn-default cancel-submit-btn" ng-click="vm.savedata(list.id); vm.clearAll()" ng-disabled="myMainForm.$invalid">Save</button>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                       <button class="btn btn-default" ng-click="vm.targetInputRow()">Close</button>
                                                </div>
                                        </div>
                                </div> 
                                <div class="table text-center col-sm-12">
                                        <table class="table-responsive table-bordered">
                                                <thead>
                                                        <tr>
                                                                <th>#</th>
                                                                <th>First Name</th>
                                                                <th>Middle Name</th>
                                                                <th>Last Name</th>
                                                                <th>Street Address</th>
                                                                <th>Date Tormat</th>
                                                                <th>Balance</th>
                                                                <th>Dredit Card</th>
                                                                <th class="text-left">Action</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr ng-repeat="list in vm.arr track by $index">
                                                                <td>{{list.id=$index + 1}}</td>
                                                                <td>{{list.firstname}}</td>
                                                                <td>{{list.middlename}}</td>
                                                                <td>{{list.lastname}}</td>
                                                                <td>{{list.streetaddress}}</td>
                                                                <td>{{list.dateformat}}</td>
                                                                <td>{{list.balance}}</td>
                                                                <td>{{list.dreditcard}}</td>
                                                                <td class="text-left">
                                                                        <ul>
                                                                                <li><button class="btn-success" ng-click="vm.edit(list.id)">Update</button></li>   
                                                                                <li><button class="btn-danger" ng-click="vm.removeRow($index)">Remove</button></li>      
                                                                        </ul>
                                                                </td>
                                                        </tr>
                                                </tbody>
                                        </table>
                                </div>
                        </div>
                    </div>
                </body>
        </html>
                        
        
                        
                 