h1 {
  text-transform: uppercase;
    color: #4c4c4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    text-align: left;
}
h2 {
  text-transform: uppercase;
    color: #4c4c4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    text-align: left;
}
h3 { 
  text-transform: uppercase;
  color: #4c4c4b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  text-align: left;
}
body {
   margin: 2em; 
  }
body, input[text], button { 
  color: rgb(39, 38, 38); font-family: Cambria, Georgia; 
}
button {
  padding: 0.2em; font-size: 14px
}
ul {
  list-style-type: none; margin-left: 2em; padding: 0; width: 20em;
}
li { 
  cursor: pointer; position: relative; left: 0; transition: all 0.2s ease; 
}
li:hover {
  left: 1em;
  transform: scale(1.1);
}
/* route-link anchor tags */
a {
  padding: 5px; text-decoration: none; font-family: Arial, Helvetica, sans-serif; 
}

a:visited, a:link {   
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
  font-weight: 400;
}

a:hover {
  color: #697913;
    
    padding: 10px 0;
}
a.router-link-active {
  color: white; background-color: rgb(58, 59, 63) ;
}
.selected { 
  background-color: rgb(35, 36, 39);; color: #fff; 
}
.badge {
  font-size: small;
  color: white;
  padding: 0.1em 0.7em;
  background-color: rgb(35, 36, 39);
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -1px;
}
users-detail input {
  width: 20em;
}
